/*_variables*/

$font: "Bernard MT Condensed", serif;

$default-text-shadow-color: #000;
$default-text-shadow-blur: 3px;
$default-text-shadow-v-offset: 3px;
$default-text-shadow-h-offset: 2px;

$white:#ffffff;
$lightestgray:#dddddd;
$quitelight:#969696;
$darkgray:#343434;
$midgray: #303030;
$midlightgray: #434343;
$lightgray:#676767;
$black:#000000;

$bodywidth:900px;
$minwidth:500px;

