/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "base";

html { 
	@include background(image-url("/img/bull3d.png") no-repeat center 140px,
	linear-gradient(top, #303030, #1a1a1a)); 
	min-height: 100%;
	min-width: $minwidth;
	&.splash{background: /*url(/img/bull-red-glow.png) no-repeat center 60px*/ black;}
}


body {
	margin:0 auto;
	min-width: $minwidth;
	padding-bottom: 70px;
	} 

header{
	width: $minwidth;
	margin: 0 auto;
		position: relative;

	h1{
		text-align:center; 
		font-size:60px; 
		font-family: $font;
		font-weight: lighter;
		width: $minwidth;
		padding: 30px 0 10px;
		a {
			color: $white;
			@include single-text-shadow;
			&:hover{
				color: $white;
				}
		} 
	}
	hr{ 
		background-color: #000; 
		color: #000;
		height: 1px;
		border: none;
		@include box-shadow($midlightgray 0 1px 1px);
		.splash &{@include box-shadow(none); }
	}
	a {text-decoration:none;
		&:hover{
			color: $red;
			}
		}

	/*main nav*/
	nav{
		ul{
			display: table;
			margin: 20px auto 25px;
			li{
				font-family: $font;
				font-weight: normal;
				font-size: 30px;
				@include single-text-shadow;
				display: inline;
				margin:0 10px;
				a{
					color: $midlightgray;
					.splash & {color: black; 
						padding: 30px 280px 460px;
						position: absolute;
						top: 100px;
						left: -60px;
						background: url(/img/bull-red-glow.png) no-repeat center;
						&:hover{
							color:$red;
							background: url(/img/bull-red-glow-hover.png) no-repeat center; 
							}
						}
					position: relative;
					&.active{
						color: $white;
						&:after{
							position:absolute;
							bottom: -23px;
							left: 30%;
							content:"";
							border-style: solid;
							border-width: 0 20px 20px 20px;
							border-color: transparent transparent black transparent;
						}
					}
				}
			}
		}
	}
}

section {
	width: $bodywidth;
	margin: 0 auto;
	display: none;
	&.open{
		background-color: #2d2d2d; 
		border-bottom:1px solid $midgray;
		@include box-shadow(inset 0 3px 30px 5px black);
		@include border-radius(14px);
	}
	&.nonav{
		width: 695px; 
	}
	.container{
		padding: 25px 25px 0;
		display: inline-block;
	}
	.main{
		width: 625px; 
		/*height: 165px; */
		background: $midlightgray; 
		margin: 0 25px 25px 0; 
		float: left; 
		padding: 10px;
		@include box-shadow(0 0 10px black); 
		border-top: 1px solid $lightgray;
		@include border-radius(14px);
		display: none;
	}
	#contact .main{
		display: block;
	}

/* second navigation
*/
	nav{ 
		width: 180px; 
		float: left; 
		margin: 0 0 25px;
		font-family: $font;
		font-size: 18px;
		li{margin-bottom: 15px;
			&:last-child{margin-bottom:0;
				}
			}
		a{
			display: block;
			padding: 3px 3px 3px 40px;
			color: $quitelight;
			text-decoration: none;
			@include single-text-shadow;
			position: relative;
			@include border-radius(14px);
			&:hover{
				color: $red;
			}


			/*grey circle*/
			&:before{
				position:absolute;
				top: 0;
				left: 0;
				content:"";
				width: 25px;
				height: 24px;
				background-color: $quitelight;
				border-top: 1px solid $lightestgray;
				@include box-shadow(0 0 10px black);
				@include border-radius(14px); 

			}
			&:hover:before{background-color: $red; border-top: $red;}
			/*arrow*/
			&:after{
				position:absolute;
				top: 6px;
				left: 9px;
				content:"";
				width: 0;
				height: 0;
				border-top: 6px solid transparent;
				border-bottom: 6px solid transparent;
				border-left: 10px solid $midgray;

			}
			&.playing{
				color: $midgray;
				@include single-text-shadow(none);
				background-color: $quitelight;
				border-top:1px solid $lightestgray;
				padding-top: 2px;
				@include box-shadow(0 0 10px black);
				&:before{
					background:none;
					@include box-shadow(none);
					border-top: none;

				}
				&:after{
					top: 5px;
					@include box-shadow(none);
					border-left: transparent;
					border-right: 10px solid $midgray;
				}
			}
		}
		.video-nav{
			li{
				background: no-repeat center;
				&#the-west{background-image:url(/img/the_west.png);}
				&#warriorvid{background-image:url(/img/warrior.png);}
				&#crisis{background-image:url(/img/crisis.png);}
				padding: 5px;
				/*@include border-radius(14px);*/
				@include box-shadow(0 0 10px black);
				position: relative;
				&:after{
					position:absolute;
					top: 0;
					left:0;
					width: 180px;
					height: 101px;
					content: "";
					/*@include border-radius(14px);*/
					background-color: $black;
					opacity: .7;
					z-index: 10;
				}
				/*&:hover:after{
					opacity: .0;
				}*/
				&.playing:after{
					background-color: $white;
				}
				a{
					height: 85px;
					@include single-text-shadow(none);
					z-index: 20;
					&:before{
						@include box-shadow(none);
						border-top: none;
					}
					&.playing{
						background:none ;
						border-top: 0;
						@include box-shadow(none);
					}
					/*&:hover{
						opacity: .0;
					}*/

				}
			}
		}
	}
}
@media (max-width: 980px){
	section{
		width: 695px;
	}
	.main{
		margin-right: 0;
	}
}


footer{
	@include box-shadow(#000000 0 0 10px);
	background: $midgray;
	border-top: 1px solid #444;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 100;
	ul{ 
		display:table;
		margin: 5px auto;
		li{
		display:inline;
		padding: 0 10px;
			a{
			display: inline-block;
			background: url(/img/socialsprite.png) 0 0 $quitelight;
			&#youtube{background-position: 32px 0;}
			&#facebook{background-position: 64px 0;}
			height: 32px;
			width: 32px;
			@include border-radius(16px);
			&:hover{
				background-color: $red;
			}
			}
		}
	}
}